In [47]:
import numpy as np
import pandas as pd
import matplotlib as mpl
from sklearn.feature_extraction.text import TfidfVectorizer

In [66]:
train = pd.read_csv("data/train.csv")
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [69]:
test = pd.read_csv("data/test.csv")
test.head()
test_label = pd.read_csv("data/sample_submission.csv")

In [73]:
test_label.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

In [81]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn import svm
 
text_clf = Pipeline([
                     ('tfidf', TfidfVectorizer()),
                     ('clf', svm.SVC())
                     ])
 
text_clf.fit(train['text'], train['target'])
res = text_clf.predict(test['text'])
print(res)  # [1]

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

[0 0 0 ... 0 0 0]

In [79]:
from sklearn.metrics import f1_score
f1_score(test_label['target'], res, average='macro')

1.0